<div class="main">
  <h1>
    {{hoursDisplay ? hoursDisplay : '00'}} : {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} :
    {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}} <br/>
  </h1>

  <div class="buttons-layout">
    <button mat-raised-button *ngIf="!counting" (click)="startTimer()" [disabled]="counting">Start</button>
    <button mat-raised-button *ngIf="!countdownEnabled && counting" (click)="stopTimer()" [disabled]="!counting">Stop</button>
  </div>

</div>
