.chips {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.card {
  width: 250px;
  margin-right: 10px;
  background-color: lightgrey;
}

.card img{
  height: 60%;
}

.card-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: large !important;
  color: #363435;
  padding: 10px;
  background-color: whitesmoke;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.train-button {
  background-color: darkorange;
  color: white;
  font-weight: bold;

}
