.main {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}
.title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: x-large;
  color: #363435;
  padding: 10px;
  background-color: whitesmoke;
  text-align: center;
}

.info {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: medium;
  border: darkgrey thin solid;
  text-align: center;
  padding: 5px;
  margin: 10px;
  background-color: white;
}

.numbers-picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.numbers-picker img {
  width: 54px;
  height: 74px;
}

.numbers-picker img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.numbers-status {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.reset-button {
  background-color: darkblue;
  color: white;
  font-weight: bold;
}

.validate-button {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}
