@import "../discipline.css";

.numbers-picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.numbers-picker img {
  width: 54px;
  height: 74px;
}

.numbers-picker img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.numbers-status {
  display: flex;
  justify-content: center;
  padding: 10px;
}

